/check.ipynb
/gpu.ipynb
/HGrown_pytorch.ipynb
/HGrown_tensorflow.ipynb
/lab_test.ipynb
/ML_ExtraCredit.ipynb
/pt_tlearn.ipynb
/pytorch_mihika-1.ipynb
/re_use_torch.ipynb
/test.ipynb
/test.py
/text.txt
/transfer_learning.ipynb
/venv
/venv2